body {
	color: $grey;
	font-family: $ff-s;
	line-height: 1.6;
	background: $white;
	font-size: 0.875rem;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}

h1,
h2,
p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	color: $accent;
	line-height: 1;
	font-size: 3.125rem;

	span {
		display: block;
		@include sans-serif($fs: 5.5rem, $color: $accent);
	}
}

h2 {
	@include sans-serif($fs: 2rem, $color: $dark-grey);
}
