footer {
	background: $dark-blue;
	padding: 5em 0;
	text-align: center;
}

.social-icons {
	@include container($max-width: 15em);
	display: flex;
	justify-content: space-between;
	margin: 4em auto;
}

.social-icon {
	width: 25%;
	height: 25%;
	border-radius: 50%;
	cursor: pointer;
	&:hover {
		background-color: darken($white, 50%);
	}
}

.copyright {
	&::before {
		content: '';
		display: block;
		height: 1px;
		background: rgba($white, 0.15);
		width: 25%;
		margin: 4em auto;
	}
}
