.portfolio {
	text-align: center;
	background-color: $light-grey;
	padding: 5em 0;

	&-items {
		display: flex;
		flex-wrap: wrap;
		@include container($max-width: 75em);
	}

	&-item {
		position: relative;
		overflow: hidden;
		flex: 1 1 20rem;

		img {
			display: block;
			width: 100%;
		}

		figcaption {
			position: absolute;
			background: rgba($accent, 0.75);
			top: 100%;
			bottom: 0;
			right: 0;
			left: 0;
			text-align: left;
			color: $white;
			display: flex;
			flex-direction: column;
			padding: 1em;
			transition: all ease-in-out 250ms;
		}

		&:hover figcaption,
		&:focus figcaption {
			top: 0;
		}
	}

	&-title {
		color: $white;
		font-size: 2.5rem;
		margin-bottom: auto;

		.featured & {
			font-size: 5rem;
		}
	}

	&-desc {
		display: none;

		.featured & {
			display: block;
		}
	}

	&-link {
		color: $white;
		font-weight: $fw-b;
		font-size: 1.1rem;
		text-decoration: none;
		border-bottom: 3px solid $white;
		align-self: flex-start;

		&::after {
			content: url(../../img/arrow-white.svg);
			display: inline-block;
			height: 0.8em;
			width: 0.8em;
			margin-left: 0.5em;
		}
	}
}

@supports (display: grid) {
	.portfolio-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;

		@include mq() {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.portfolio-item.featured {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	.featured {
		.portfolio-title {
			font-size: 5rem;
		}

		.portfolio-desc {
			display: block;
		}
	}
}

.portfolio-modal {
	z-index: 10;
	position: fixed;
	top: 2em;
	bottom: 2em;
	left: 2em;
	right: 2em;
	background: $white;
	box-shadow: 0 0 0 5em rgba(black, 0.5);
	overflow-y: scroll;
	overflow-x: hidden;

	display: none;
}

.modal-close {
	background: $white;
	border: none;
	display: inline-block;
	position: fixed;
	top: 1em;
	left: 1em;
	width: 2em;
	height: 2em;
	padding: 0;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(black, 0.5);
	cursor: pointer;
}

.portfolio-header {
	text-align: left;
	padding: 5em 0;
	margin-bottom: 2em;
}

.portfolio-header:nth-of-type(1) {
	background-image: url(../../img/portfolio-01.jpg);
	background-size: cover;
	background-position: center;
}

.portfolio-title-box {
	background: rgba($accent, 0.75);
	box-sizing: border-box;
	padding: 3em;
	color: $white;
	width: 70%;

	.portfolio-title {
		font-size: 3.5em;

		&::after {
			content: '';
			height: 1px;
			margin: 0.5em 0;
			width: 100%;
			display: block;
			background: $white;
		}
	}
}

.portfolio-subtitle {
	font-size: 1rem;
}

.portfolio-content {
	text-align: left;
	width: 85%;
	margin: 0 auto;
	padding-bottom: 2em;
}

.portfolio-full-width {
	width: 100vw;
	max-width: initial;
	margin: 2em calc(50% - 50vw);
	height: 20vh;
	object-fit: cover;
}

@include mq() {
	.portfolio-content .portfolio-pull-left {
		width: 65%;
		float: left;
		margin-right: 2em;
	}

	.portfolio-content .portfolio-pull-right {
		width: 65%;
		float: right;
		margin-left: 2em;
	}
}
